<div class="container">
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/adidas.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',5]">Adidas</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/gucci.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',6]">Gucci</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/toomy.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',7]"> Tommy Hilfiger</a><br></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/allen solly.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',8]">Allen solly</a></h3>
        </div>
      </div>
    </div>
  </div>