<div class="container">
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/arrow.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',13]">Arrow</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/flying machine.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',14]">Flying Machine</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/jackandjones.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',15]">Jack & Jones</a><br></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/louis philippe.webp">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',16]">Louis Philippe</a></h3>
        </div>
      </div>
    </div>
  </div>