<p>reactiveform works!</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input types="text"  formControlName="username"class="form control" id="username" >
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input types="text" formControlName="email" class="form control" id="email" >

                </div>
                <div class="form-group">
                    <label for="course">course</label>
                   <select fromControlName="course" id="course">
                    <option value="Angular">Angular</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="TypeScript">TypeScript</option>
                   </select>
                </div>
                <div>
                    <input type="radio" formControlName="gender" id="male">
                    <label for="Male">Male</label>
                    <input type="radio" formControlName="gender" id="male">
                    <label for="Female">FeMale</label>
                </div>
                <button  type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>
</div>