<p>demopostdetails works!</p>
<div class="card">
    <div class="card-body">
      <div class="row justify-content-center">

      <div class="table-responsive">
        
        <table class="table table-hover table-striped">
          <thead class="thead-dark">
            <tr >
              <th scope="col">UserId</th>
              <th scope="col">Id</th>
              <th scope="col">Title</th>
              <th scope="col">Body</th>
         
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col">{{post.userId}}</td>
              <td scope="col">{{post.id}}</td>
              <td scope="col">{{post.title}}</td>
              <td scope="col">{{post.body}}</td>
            </tr>
      
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>