
.example-full-width{
    margin-top: 30px;
    width: 450px;
    padding-right: 10px;
}
form{
    display: flex;
    flex-direction: row;
}
.card{
width: 1200px;
margin-top: 20px;
}
img {
    border-radius: 50%;
    height: 78px;
    width: 78px;
    margin-left: 55px;
    margin-top: 10px;
    
  }
  #Name{
    font-size:small;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 45px;
  }
  #content{
    font-size:smaller;
    width: 130px;
    text-align: center;
  margin-left: 30px;
  }
  .form-group1{
    display: flex;
    flex-direction: row;
  }
  #country{
    width: 150px;

    margin-right: 10px;
  }
  #phone{
    width: 230px;
  }
  #btn{
    margin-top: 39px;

    background-color: rgb(209, 209, 209);
    color: grey;
  }

