<div class="container">
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/bata.jpeg">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',9]">Bata</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/puma.png">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',10]">Puma</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/nike.jpeg">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',11]">Nike</a><br></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/woodland.jpeg">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',12]">Woodland</a></h3>
        </div>
      </div>
    </div>
  </div>