<div class="container">
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/denim.jpeg">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',1]">Denim</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/calvin klein.jpg">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',2]">Calvin Klein</a></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/levi.jpg">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',3]">Levi</a><br></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="imgBx">
          <img src="../../../assets/images/lee.jpg">
        </div>
        <div class="contentBx">
          <h3><a [routerLink]="['/fashiondetails',4]">Lee</a></h3>
        </div>
      </div>
    </div>
  </div>