.container{
    background-color: white;
}
input{
     margin-left: 60px;
    border: 3px solid black ;
    height: 60px;
    width: 1080px;
    font-size: larger;
    font-weight: 550;
    padding: 15px;

}
table{
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}
.snip{
    height: 100px;
    width: 450px;
}
.title{
    width: 250px;
}
.word{
    text-align: left;
    width: 250px;
    padding: 28px;
}