.container{
    margin: auto;
    width: 500px;
}
.email{
    width: 400px;
}
.pass{
    width: 400px;
}
.button{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
}
button{
    width: 100px;
}
#login{
    margin-left: 20px;
}