<div class="container">
    
<div class="login-left">
    <div class="l-icon l-space" id="li-about">
      <h1>beecrowd</h1>
      <p>
        {{ 'leftContentFirst' | translate }}<a
          href="https://beecrowd.io/en/home-page/"
          target="_blank"
          >{{ 'cORPORATEPAGE' | translate }}</a
        >
      </p>
    </div>
    <div class="l-icon l-space" id="li-repository">
      <h1>{{ 'leftTitleSecond' | translate }}</h1>
      <p>
        {{ 'leftContentSecond' | translate }}
      </p>
    </div>
    <div class="l-icon" id="li-forum">
      <h1>beecrowd {{ 'leftTitleThird' | translate }}</h1>
      <p>
        {{ 'leftContentThird' | translate }}
      </p>
    </div>
  </div>
  <div class="login-center">
    <a href="/judge/en/login" class="logo"
      ><img
        src="https://www.beecrowd.com.br/judge/img/5.0/logo-beecrowd.png?1635097036"
        alt="beecrowd"
        title="beecrowd"
    /></a>
    <div id="users-form">
      <span class="use-social-login">{{ 'centerTitleFirst' | translate }}</span>
      <ul class="social-media-menu">
        <li>
          <form
            name="post_647dad4cdcc04034725897"
            style="display: none"
            method="post"
            action="/judge/social-auth/login/google"
          >
            <input type="hidden" name="_method" value="POST" /><input
              type="hidden"
              name="_csrfToken"
              autocomplete="off"
              value="34cf03cb68e8722166d0a7be91c5ca1247c126476d40ca0e4c506e238b56d876acebd5a76de389a420a6b3346cdec2b76aa6946dc2662e610a6d2ca664052931"
            />
            <div style="display: none">
              <input
                type="hidden"
                name="_Token[fields]"
                autocomplete="off"
                value="f36bdd56db3c0132b4f44ed417988afdd7cf5ae6%3A"
              /><input
                type="hidden"
                name="_Token[unlocked]"
                autocomplete="off"
                value=""
              />
            </div>
          </form>
        <img src="../../assets/images/search.png" alt="" style="width: 27px; height: 27px;">
        </li>
        <li>
          <form
            name="post_647dad4cdcd58181766706"
            style="display: none"
            method="post"
            action="/judge/social-auth/login/linkedin"
          >
            <input type="hidden" name="_method" value="POST" /><input
              type="hidden"
              name="_csrfToken"
              autocomplete="off"
              value="34cf03cb68e8722166d0a7be91c5ca1247c126476d40ca0e4c506e238b56d876acebd5a76de389a420a6b3346cdec2b76aa6946dc2662e610a6d2ca664052931"
            />
            <div style="display: none">
              <input
                type="hidden"
                name="_Token[fields]"
                autocomplete="off"
                value="fa44d6f27fb4a1ee9791fff90bf97fdcfcbef2e4%3A"
              /><input
                type="hidden"
                name="_Token[unlocked]"
                autocomplete="off"
                value=""
              />
            </div>
          </form>
          <img src="../../assets/images/linkedin.png" alt="" style="width: 27px; height: 27px;">

        </li>
        <li>
          <form
            name="post_647dad4cdcdea796687363"
            style="display: none"
            method="post"
            action="/judge/social-auth/login/github"
          >
            <input type="hidden" name="_method" value="POST" /><input
              type="hidden"
              name="_csrfToken"
              autocomplete="off"
              value="34cf03cb68e8722166d0a7be91c5ca1247c126476d40ca0e4c506e238b56d876acebd5a76de389a420a6b3346cdec2b76aa6946dc2662e610a6d2ca664052931"
            />
            <div style="display: none">
              <input
                type="hidden"
                name="_Token[fields]"
                autocomplete="off"
                value="f551a1ef73c6913ee9681475a67d7b56476e448e%3A"
              /><input
                type="hidden"
                name="_Token[unlocked]"
                autocomplete="off"
                value=""
              />
            </div>
          </form>
          <img src="../../assets/images/github.png" alt="" style="width: 27px; height: 27px;">

        </li>
        <li>
          <form
            name="post_647dad4cdce9e284132916"
            style="display: none"
            method="post"
            action="/judge/social-auth/login/gitlab"
          >
            <input type="hidden" name="_method" value="POST" /><input
              type="hidden"
              name="_csrfToken"
              autocomplete="off"
              value="34cf03cb68e8722166d0a7be91c5ca1247c126476d40ca0e4c506e238b56d876acebd5a76de389a420a6b3346cdec2b76aa6946dc2662e610a6d2ca664052931"
            />
            <div style="display: none">
              <input
                type="hidden"
                name="_Token[fields]"
                autocomplete="off"
                value="6b48194012f356a8ef1596db7c5751a0e4551aa0%3A"
              /><input
                type="hidden"
                name="_Token[unlocked]"
                autocomplete="off"
                value=""
              />
            </div>
          </form>
          <img src="../../assets/images/gitlab.png" alt="" style="width: 27px; height: 27px;">

        </li>
        <li>
          <form
            name="post_647dad4cdcf24686756012"
            style="display: none"
            method="post"
            action="/judge/social-auth/login/bitbucket"
          >
            <input type="hidden" name="_method" value="POST" /><input
              type="hidden"
              name="_csrfToken"
              autocomplete="off"
              value="34cf03cb68e8722166d0a7be91c5ca1247c126476d40ca0e4c506e238b56d876acebd5a76de389a420a6b3346cdec2b76aa6946dc2662e610a6d2ca664052931"
            />
            <div style="display: none">
              <input
                type="hidden"
                name="_Token[fields]"
                autocomplete="off"
                value="0e26765986caea8b98b74d4d0879f46dbeb02d0d%3A"
              /><input
                type="hidden"
                name="_Token[unlocked]"
                autocomplete="off"
                value=""
              />
            </div>
          </form>
          <img src="../../assets/images/bitbucket.png" alt="" style="width: 27px; height: 27px;">

        </li>
        <li>
          <form
            name="post_647dad4cdcfa4796701988"
            style="display: none"
            method="post"
            action="/judge/social-auth/login/facebook"
          >
            <input type="hidden" name="_method" value="POST" /><input
              type="hidden"
              name="_csrfToken"
              autocomplete="off"
              value="34cf03cb68e8722166d0a7be91c5ca1247c126476d40ca0e4c506e238b56d876acebd5a76de389a420a6b3346cdec2b76aa6946dc2662e610a6d2ca664052931"
            />
            <div style="display: none">
              <input
                type="hidden"
                name="_Token[fields]"
                autocomplete="off"
                value="0932775c893a6c425d66e4d08504539456328093%3A"
              /><input
                type="hidden"
                name="_Token[unlocked]"
                autocomplete="off"
                value=""
              />
            </div>
          </form>
          <img src="../../assets/images/facebook.png" alt="" style="width: 27px; height: 27px;">

        </li>
      </ul>
      <span class="or-span">{{ 'or' | translate }}</span>
      <form method="post" accept-charset="utf-8" action="/judge/en/login">
        <div style="display: none">
          <input type="hidden" name="_method" value="POST" /><input
            type="hidden"
            name="_csrfToken"
            autocomplete="off"
            value="34cf03cb68e8722166d0a7be91c5ca1247c126476d40ca0e4c506e238b56d876acebd5a76de389a420a6b3346cdec2b76aa6946dc2662e610a6d2ca664052931"
          />
        </div>
        <div class="input email">
          <label for="email">{{ 'email' | translate }}</label
          ><input
            type="email"
            name="email"
            autocomplete="off"
            minlength="3"
            maxlength="100"
            autofocus="autofocus"
            id="email"
          />
        </div>
        <div class="input password">
          <label for="password">{{ 'password' | translate }}</label
          ><input
            type="password"
            name="password"
            autocomplete="off"
            id="password"
          />
        </div>
        <div class="remember-me">
          <input type="hidden" name="remember_me" value="0" /><label
            for="remember-me"
            ><input
              type="checkbox"
              name="remember_me"
              value="1"
              id="remember-me"
            />{{ 'remeber' | translate }}</label
          >
        </div>
        <div class="submit">
          <input type="submit" class="send-purple send-right" value="{{ 'signIn' | translate }}" />
        </div>
        <div style="display: none">
          <input
            type="hidden"
            name="_Token[fields]"
            autocomplete="off"
            value="41dcc576d590c4d85784392529146d228d160ebf%3A"
          /><input
            type="hidden"
            name="_Token[unlocked]"
            autocomplete="off"
            value=""
          />
        </div>
      </form>
      <div class="both"></div>
    </div>
    <div id="register" style="cursor: pointer">
      <h1>
        <a href="/judge/en/register">{{ 'firstTime' | translate }}</a>
      </h1>
      <p>
        <strong>{{ 'signUP' | translate }}</strong> {{ 'centerContent' | translate }}
      </p>
    </div>
    <div class="both"></div>
    <div id="manage-account">
      <a
        href="/judge/en/forgotten-password"
        class="send-link-large send-white send-left"
        >{{ 'reset' | translate }}</a
      ><a href="/judge/en/activate" class="send-link-large send-white send-right"
        >{{ 'activate' | translate }}</a
      >
      <div class="both"></div>
    </div>
    <div class="both"></div>
    <div class="social-media-links-login" style="text-align: center">
      <span class="social-media-links-text">{{ 'follow' | translate }}</span>
      <ul class="s-menu">
        <li class="s-linkedin">
            <img src="../../assets/images/linkedin.png" alt="" style="width: 27px; height: 27px;">

        </li>
        <li class="s-instagram">
            <img src="../../assets/images/instagram.png" alt="" style="width: 27px; height: 27px;">
        </li>
        <li class="s-facebook">
            <img src="../../assets/images/facebook.png" alt="" style="width: 27px; height: 27px;">
        </li>
        <li class="s-youtube">
            <img src="../../assets/images/youtube.png" alt="" style="width: 27px; height: 27px;">
        </li>
        <li class="s-twitter">
            <img src="../../assets/images/twitter.png" alt="" style="width: 27px; height: 27px;">
        </li>
        <li class="s-twitch">
            <img src="../../assets/images/twitch.png" alt="" style="width: 27px; height: 27px;">
        </li>
     
      </ul>
    </div>
  </div>
  <div class="login-right">
      <div class="l-icon l-space" id="li-rank">
      <h1>{{ 'rightTitleFirst' | translate }}</h1>
      <p>
        {{ 'rightContentFirst' | translate }}</p>
      </div>
      <div class="l-icon l-space" id="li-academic">
      <h1>beecrowd {{ 'rightTitleSecond' | translate }}</h1>
      <p>
        {{ 'rightContentSecond' | translate }}<a href="https://www.beecrowd.com.br/academic" target="_blank">{{ 'accessAcademic' | translate }}</a> </p>
      </div>
      <div class="l-icon" id="li-contests">
      <h1>beecrowd {{ 'rightTitleThird' | translate }}</h1>
      <p>
        {{ 'rightContentThird' | translate }} </p>
      </div>
      </div>
  
</div>
