<footer class="ribbon">
    <div class="footer-content">
    <div class="site-coyright">© 2023 beecrowd</div>
    <ul class="site-information">
    <li>
    <a href="http://beecrowd.io/en/privacy-policy/" target="_blank" rel="noopener noreferrer">{{ 'privacy' | translate }}</a> </li>
    <li class="division">|</li>
    <li>
    <a href="http://beecrowd.io/en/terms-and-conditions-eng/" target="_blank" rel="noopener noreferrer">{{ 'termsconditions' | translate }}</a> </li>
    <li class="division">|</li>
    <li>
    <a href="/judge/en/faqs/about/judge">{{ 'FAQ' | translate }}</a> </li>
    <li class="division">|</li>
    <li>
    <a href="http://status.beecrowd.com.br/" target="_blank" rel="noopener noreferrer">{{ 'status' | translate }}</a> </li>
    <li class="division">|</li>
    <li>
    <a href="/judge/en/contact">{{ 'contact' | translate }}</a> </li>
    </ul>
    <div class="site-version">Version 6.2.0</div>
    </div>
    </footer>