<br>
<br>
<div class="card" style="width:1000px">
    <div class="card-body">
      <div class="row justify-content-center">

      <div class="table-responsive">
        
        <table class="table table-hover table-striped">
          <thead class="thead-dark">
            <tr >
              <th scope="col">UserId</th>
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col">Brand Name</th>
         
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col">{{fashiondetails.userId}}</td>
              <td scope="col">{{fashiondetails.id}}</td>
              <td scope="col">{{fashiondetails.type}}</td>
              <td scope="col">{{fashiondetails.companyName}}</td>
            </tr>
      
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
