<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img src="../../assets/images/book1.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Reminder Of Him</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="reminderofhim" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    
        <div class="card">
            <img src="../../assets/images/book2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Doglapan</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="doglapan" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>



  
        <div class="card">
            <img src="../../assets/images/book3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Victory City</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="victorycity" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
   



        <div class="card">
            <img src="../../assets/images/book4.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">COTE2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="cote2" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
