
<button class="btn btn-primary" ><a routerLink="/product" class="nav-link ">Back to product</a></button>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img src="../../../assets/images/laptop.jpeg" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Laptop1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    
        <div class="card">
            <img src="../../../assets/images/laptop2.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>



  
        <div class="card">
            <img src="../../../assets/images/laptop7.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="camera" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
   



        <div class="card">
            <img src="../../../assets/images/laptop6.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop4</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="watch"class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
