.container{
    margin: auto;
    width: 500px;
}
.email{
    width: 400px;
}
.pass{
    width: 400px;
}

.button{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
}
button{
    width: 200px;
}
.reg{
    margin-left: 40px;
    margin-top: 10px;
}