*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.card{
    background-color:#121212fe;
    color: white;
}
.card-body{
    margin-left: auto;
    margin-right: auto;
    width: 830px;
}
input{
    border-radius: 0px;
    height: 50px;
    font-size: large;
}
.input-group-text{
    border-radius: 0px;
    height: 50px;
    background: linear-gradient( to bottom left,#ff41d9 30%,#ca3bc6 60% );
    border:  #b917b3;
}
svg{
    transform: rotate(90deg);
    color: white;
}
.input-group-append{
    border:  #df0aa6;
}
p{
   color: rgb(158, 157, 157);
}
.gifscon{
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    text-align: left;    list-style: none;

}
.gifcon{
    margin: 8px;
    border-radius: 5px;
}
.page-link{
    background-color:#121212fe ;
    color: white;
}
.spinner-grow{
    
    width: 12px;
    height: 12px;
    margin-left: 10px;
    margin-top: 180px;
    border-radius: 0px;
    border: 1px solid black ;
}
.spinner{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 785px;
    text-align: center;
}
