.background{
    background-color: aqua;
}
table,th,td{
   border: 1px solid black;
}
.thead-dark{
    background-color: #343a40;
    color: white;
}
th,td{
   padding: 30px;
}
input{
    margin-bottom: 10px;
}
.card{
    margin-left: 20px;
}