.container{
    display: inline-block;

    width:1342px !important;
    margin: 0;
    margin-top:60px;
  
}
body{
    background: url(https://resources.beecrowd.com.br/academic/img/geometry.png) top left #fff;
}
.head{
    display: inline-block;
    height: 50px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999 !important;
    background-color: white !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#main{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #dbdbdb;
    height: auto  !important;
    margin: 25px auto 55px;
    width: 980px !important;
}
