<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center"> -->
  <h1 class="background">
    Welcome to {{ title }}! {{name}}
  </h1>
  <!-- {{currentTime()}}
  <h3>currentDate is{{currentDate()}}</h3>
  

  <h1>The Employee Count : {{empCount}}</h1>



  <h1>
    <app-demo></app-demo>
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
  <app-password></app-password>
 


  <app-card (fromChild)="onParent($event)"></app-card>
  <p>I came From Parent and I am {{childToParent}}</p>
<app-output-decorator (objFromChild)="objChildToParent($event)"></app-output-decorator>
<p>The Student Name is: {{ename}}</p>
<p>The Student Roll No is: {{sal}}</p>

<app-ngfor appCustom></app-ngfor>
<app-ngif></app-ngif>
<app-ngswitch appCustom></app-ngswitch>
<router-outlet></router-outlet>
<app-travelngifswitch></app-travelngifswitch>
<app-ngswitch></app-ngswitch>
<app-ngstyle></app-ngstyle>
<app-ngclass></app-ngclass>
<app-travelngifswitch></app-travelngifswitch>
<app-input [username]="data"></app-input>
<app-ngstylengclass></app-ngstylengclass>
<app-test2 [fromparent]="hero"></app-test2>
<mat-slide-toggle>toggle me"</mat-slide-toggle> -->
<!-- <app-studentform></app-studentform> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-regform></app-regform>
<app-reactiveregform></app-reactiveregform>
<app-prototypereactiveform></app-prototypereactiveform> -->
<!-- <app-scroll></app-scroll> -->
<!-- <ng-container *ngFor="let product of products">
  <p>Product Name: <strong class="text-success">{{product.name}}</strong></p>
</ng-container>

  
  
  


<div class="card">
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="coll-md-8">
          <label for="search">Search By Name</label>
          <input type="text" class="form-control" placeholder="Enter the name" [(ngModel)]="searchName">
      </div>
    <div class="table-responsive">
      
      <table class="table table-hover table-striped">
        <thead class="thead-dark">
          <tr >
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">street</th>
            <th scope="col">suite</th>
            <th scope="col">city</th>
            <th scope="col">zipcoode</th>
            <th scope="col">lat</th>
            <th scope="col">lng</th>
            <th scope="col">phone</th>
            <th scope="col">website</th>
            <th scope="col">name</th>
            <th scope="col">catchPhrase</th>
            <th scope="col">bs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of result | searchpipe:searchName">
            <td scope="col">{{res.id}}</td>
            <td scope="col">{{res.name}}</td>
            <td scope="col">{{res.username}}</td>
            <td scope="col">{{res.email}}</td>
            <td scope="col">{{res.address.street}}</td>
            <td scope="col">{{res.address.suite}}</td>
            <td scope="col">{{res.address.city}}</td>
            <td scope="col">{{res.address.zipcode}}</td>
            <td scope="col">{{res.address.geo.lat}}</td>
            <td scope="col">{{res.address.geo.lng}}</td>
            <td scope="col">{{res.phone}}</td>
            <td scope="col">{{res.website}}</td>
            <td scope="col">{{res.company.name}}</td>
            <td scope="col">{{res.company.catchPhrase}}</td>
            <td scope="col">{{res.company.bs}}</td>
            </tr>
    
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
<app-pipeexample></app-pipeexample> -->
<!-- <app-product-filter></app-product-filter> -->
<!-- <app-test2></app-test2>
<app-stock></app-stock>
<div class="container">
  
</div>



<br><br>
<app-create-stock></app-create-stock> -->
<!-- <div class="row justify-content-center row-cols-1 row-cols-md-2"  style="width:1000px;padding-left: 170px;">
  <div class="col mb-4">
    <app-comp1></app-comp1>
  </div>
  <div class="col mb-4">
    <app-comp2></app-comp2>
    </div>

  <div class="col mb-4">
    <app-comp3></app-comp3>
    </div>

  <div class="col mb-4">
 
<app-comp4></app-comp4>
  </div>
</div> -->
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a></li>

      <li class="nav-item"><a routerLinkActive="active" routerLink="/aboutus" class="nav-link">About Us</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/contactus" class="nav-link">Contact Us</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/product" class="nav-link">Product</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/books" class="nav-link">Books</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/post" class="nav-link">Post</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/user" class="nav-link">User</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/order" class="nav-link">Order</a></li>


    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
