<!-- 
<br>
<br>
<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../../assets/images/shirt.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Shirts</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../../assets/images/shoes.jpeg" class="card-img-top" height="271px" alt="...">
      <div class="card-body">
        <h5 class="card-title">Shoes</h5>
        <p class="card-text">This is a short card.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../../assets/images/t-shirt.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">T-Shirts</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../../assets/images/jeans.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jeans</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="card">
    <div class="content">
      <div class="imgBx">
        <img src="../../assets/images/shirt.jpeg">
      </div>
      <div class="contentBx">
        <h3><a routerLink="shirts">Shirts</a></h3>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="imgBx">
        <img src="../../assets/images/shoes.jpeg">
      </div>
      <div class="contentBx">
        <h3><a routerLink="shoes">Shoes</a></h3>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="imgBx">
        <img src="../../assets/images/t-shirt.jpeg">
      </div>
      <div class="contentBx">
        <h3><a routerLink="t-shirts">T-Shirts</a><br></h3>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="imgBx">
        <img src="../../assets/images/jeans.jpeg">
      </div>
      <div class="contentBx">
        <h3><a routerLink="jeans">Jeans</a></h3>
      </div>
    </div>
  </div>
</div>
